@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    html {
        font-size: 62.5%;
        height: 100%;
    }
    textarea:focus {
        outline: none;
    }
    .dual-shadow {
        box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
    }
    .card {
        border: 1px solid #5e913b;
        border-radius: 12px;
        padding: 16px 17px 0;
    }
    .toggle-container {
        left: 47%;
    }
    .toggle-label {
        display: inline-block;
        cursor: pointer;
    }
    .toggle-label-handle {
        display: flex;
        align-items: center;
        width: 30px;
        height: 18px;
        border-radius: 20px;
        padding: 0px 2px;
    }
    .toggle-label-handle::after {
        content: "";
        position: relative;
        right: 0;
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: white;
        transition: right 0.4s ease-in-out;
    }
    .toggle-checked .toggle-label-handle::after {
        right: calc(100% - 38px);
    }
    #toggle {
        display: none;
    }
    .dropdown-container {
        position: relative;
    }
    .dropdown-menu {
        position: absolute;
        border-radius: 5px;
        top: -9px;
        left: -9px;
        display: none;
        background: white;
        padding: 8px;
    }
    .dropdown-item {
        padding: 6px 7px;
    }
    .dropdown-container.active .dropdown-menu {
        display: block;
    }
    .pointer {
        cursor: pointer;
    }
    .table-search {
        border: 1px solid #c7c9cd;
        border-radius: 5px;
        padding: 4px 8px;
    }
    .post-box {
        border: 1px solid #c7c9cd;
        border-radius: 5px;
        padding: 8px 12px;
    }
    .page-button {
        padding: 5px 12px;
        border-radius: 5px;
    }
    .page-button:hover {
        transition: all 0.2s ease;
        background: #ecf6ed;
    }
    .custom-tab {
        border-radius: 5px;
        padding: 8px;
    }
    .custom-tab-hover:hover {
        transition: all 0.5s ease;
        opacity: 0.55;
    }
    .custom-sub-tab {
        border-radius: 20px;
    }
    .input-box {
        position: relative;
        width: 300px;
        margin-left: 50px;
        margin-top: 100px;
    }

    .input-text {
        font-size: 15px;
        color: #222222;
        width: 300px;
        border: none;
        border-bottom: solid #aaaaaa 1px;
        padding-bottom: 10px;
        padding-left: 10px;
        position: relative;
        background: none;
        z-index: 5;
    }

    .input-text::placeholder {
        color: #aaaaaa;
    }

    .input-text:focus {
        outline: none;
    }

    .input-span {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0%;
        background-color: #666;
        width: 0;
        height: 2px;
        border-radius: 2px;
        transition: 0.5s;
    }

    .input-label {
        position: absolute;
        color: #aaa;
        left: 10px;
        font-size: 20px;
        bottom: 8px;
        transition: all 0.2s;
    }

    .input-text:focus ~ .input-label,
    .input-text:valid ~ .input-label {
        font-size: 16px;
        bottom: 40px;
        color: #666;
        font-weight: bold;
    }

    .input-text:focus ~ .input-span,
    .input-text:valid ~ .input-span {
        width: 100%;
    }
    input::placeholder {
        color: #aaaaaa;
    }
    input:focus {
        outline: none;
    }

    .user-button {
        background: #ecf6ed;
        border-radius: 5px;
        color: #5e913b;
    }
    .user-button:hover {
        transition: all 0.3s ease;
        opacity: 0.55;
    }
    .rounded-box {
        border: 2px solid #c7c9cd;
        border-radius: 50px;
    }

    .iframeContainer {
        position: relative;
        width: 100%;
        height: 0;
    }
    /* 16:9 */
    .iframe16To9 {
        padding-top: 56.25%;
    }
    /* 4:3 */
    .iframe4To3 {
        padding-top: 75%;
    }
    .iframeContainer iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .font-12 {
        font-size: 1.2rem;
    }
    .font-13 {
        font-size: 1.3rem;
    }
    .font-14 {
        font-size: 1.4rem;
    }
    .font-16 {
        font-size: 1.6rem;
    }
    .font-18 {
        font-size: 1.8rem;
    }
    .font-20 {
        font-size: 2rem;
    }
    .font-22 {
        font-size: 2.2rem;
    }
    .font-24 {
        font-size: 2.4rem;
    }
    .font-26 {
        font-size: 2.6rem;
    }
    .font-28 {
        font-size: 2.8rem;
    }
    .font-32 {
        font-size: 3.2rem;
    }
    .font-40 {
        font-size: 4rem;
    }
    .font-62 {
        font-size: 6.2rem;
    }
    .font-64 {
        font-size: 6.4rem;
    }
    .font-68 {
        font-size: 6.8rem;
    }

    /* font-weight */
    .font-regular {
        font-weight: 300;
    }
    .font-regular-400 {
        font-weight: 400;
    }
    .font-bold {
        font-weight: 700;
    }
    .font-semi-bold {
        font-weight: 600;
    }
    .font-medium {
        font-weight: 500;
    }
    .font-extra-light {
        font-weight: 200;
    }

    /* Color */
    .color-gray-c7 {
        color: #c7c9cd;
    }
    .color-gray-96 {
        color: #96a1aa;
    }
    .color-green-5e {
        color: #5e913b;
    }

    .z-index-1 {
        z-index: 1;
    }
}
